<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ public/index.php [N]
    
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ public/app.css [N]
    
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ public/app.js [L]
</IfModule>
